* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 207);
  padding: 10px;
}

header {
  height: 40px;
}

main {
  display: flex;
  height: calc(100% - 40px);
  width: 100%;
  flex-direction: column;
  background-color: rgb(111, 167, 148);
}

#draw-panel {
  flex: 1 1 0;
}

#draw-tools {
  overflow-y: hidden;
  max-height: 80px;
}

#canvas-container {
  min-height: calc(80vh);
  width: 90vw;
}
canvas {
  background-color: rgb(204, 198, 198);
  touch-action: none;
}

#tools-menu {
  list-style: none;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#tools-menu > li {
  display: flex;
  justify-content: center;
  height: 35px;
}

#tools-menu button,
#tools-menu input {
  height: 100%;
  width: 45px;
}

#thickness-range-item #range {
  width: 100%;
}

#thickness-range-item {
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

.thickness-range {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row-reverse;
    width: 100%;
    max-width: 900px;
  }

  #draw-panel {
    max-width: 725px;
  }

  #draw-tools {
    overflow-y: auto;
    max-height: 100%;
  }

  #tools-menu {
    width: 175px;
    gap: 20px;
    flex-direction: column;
  }
}
